<div class="row-fluid">
  <div class="span4">First Name: {{view Ember.TextField valueBinding='firstName'}}</div>
  <div class="span4">Last Name: {{view Ember.TextField valueBinding='lastName'}}</div>
</div>

<div class="row-fluid">
  <div class="span4">DOB: {{view Ember.TextField valueBinding='dob'}}</div>
  <div class="span4">Email: {{view Ember.TextField valueBinding='email'}}</div>
</div>


<div class="row-fluid">
  <div class="span12">Notes: {{view Ember.TextArea valueBinding='notes' rows="5" cols="600" width="100%" }}</div>
</div>
